body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

/* .header {
  display:  block;
  position: fixed;
  width: 50px;
  height: 100%;
  background-color: #3a7b99;
  margin: 0;
  padding: 0;
} */

/* Nav-меню */
.nav {
  width: 150px;
  min-width: 150px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  left: -150px;
  padding: 15px 20px;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  background: #3a7b99;
  z-index: 2000;
}

.nav-toggle {
  position: absolute;
  left: 150px;
  top: 1em;
  padding: 0.5em;
  background: inherit;
  color: #dadada;
  cursor: pointer;
  font-size: 1.2em;
  line-height: 1;
  z-index: 2001;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.nav-toggle:after {
  content: '\2630';
  text-decoration: none;
}

.nav-toggle:hover {
  color: #f4f4f4;
}

[id='nav-toggle'] {
  position: absolute;
  display: none;
}

[id='nav-toggle']:checked ~ .nav {
  left: 0;
  box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
  -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
  -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
  overflow-y: auto;
}

[id='nav-toggle']:checked ~ main > article {
  -webkit-transform: translateX(150px);
  -moz-transform: translateX(150px);
  transform: translateX(150px);
}

[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
  content: '\2715';
}

.header__menu {
  padding: 50px 0px 0px 0px;
}

.nav-menu__link {
  padding-top: 10px;
  padding-bottom: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
/* ///////////////////////////// */

/* Main page */

.main-page {
  margin: 30px 0px 0px 70px;
}

/* ///////////////////////////// */

/* Login Page */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-description {

}

/* ///////////////////////////// */

/* Form style */
.register-form__container {
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}

.register-form__form {
  display: flex;
  flex-direction: column;
}

.register-form__input {
  min-height: 35px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #f0f0f0;
  margin-bottom: 15px;
  color: #0b1516;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  resize: none;
}

.register-form__input::placeholder {
  color: #0b1516;
}

.btn {
  outline: none;
  border: none;
  background-color: transparent;
  background-color: #70afce;
  color: #ffffff;
  cursor: pointer;
} 

.register-form__btn {
  width: 150px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  font-size: 14px;
}

.btn-addtask,
.btn-addclose {
  border-radius: 5px;
  height: 25px;
}

.btn-addclose {
  margin: 0px 0px 25px 15px
}

/* ///////////////////////////// */

/* Todo style */
.todo-list {
  display: flex;
}

.page-container {
  margin: 30px 0px 0px 0px;
}

.page-info {
  display: flex;
  justify-content: end;
  align-items: baseline;
  flex-direction: row-reverse;
  margin-right: 150px;
}

.page-title{
  font-size: 24px;
  font-weight: 400;
  margin: 0px 0px 0px 8px;
}

.page-date{
  font-size: 14px;
  font-weight: 500;
}

.todo-list__container {
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px; 
}

.chk-box__done {
  margin: 8px 0px 0px 15px;
}

.indef-of-task {
  margin-top: 6px;
  margin-right: 10px;
}

.btn-change-task {
  height: 30px;
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: #9ab8ba;
  border-radius: 5px;
}

.btn-change-task:hover {
  background-color: #79b0b4;
}

.todo-list__list {
  margin: 0;
  padding: 0;
}

.todo-list__item {
  display: flex;
  border-bottom: solid 1px#9ab8ba;
  margin-bottom: 20px;
}

.todo-list__item__container {

}

.todo-list__item__container__title {
  font-size: 22px;
  margin: 0;
  padding-bottom: 5px;
}

.todo-list__item__container__description {
  padding: 5px 15px 0px 0px;
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
  color: #525252;
}

.todo-list__is-null {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 50px;
  font-size: 24px;
  font-weight: 500;
}
/* ////////////////////////////// */


/* Loader style */
.loader-container {
  position: absolute;
  top: 30%;
  left: 48%;
  
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #045256;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #045256 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ///////////////////////////////////// */


/* Submenu style */
.submenu__container {
  position:fixed;
  background-color: #eff3f3;
  margin-left: 100px;
  padding: 30px 50px;
  margin-top: 50px;
  border-radius: 15px;
  
}

.submenu__list {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.submenu__item {
  text-decoration: none;
  color: #045256;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}
/* //////////////////////////////// */

.overlay {
  background-color: #0b1516;
  width: 100px;
  height: 100%;
}